@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

body{
    background-color:hsl(47, 88%, 63%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

a{
    color: #000;
    text-decoration: none;
}

#preview-card-container{
    width: 24rem;
    height: 35.313rem;
    background-color: #fff;
    border-radius: 1.25rem;
    border: .0063rem solid  hsl(0, 0%, 7%);
    box-shadow: .5rem .5rem 0 0 hsl(0, 0%, 7%) ;
    margin: 3rem auto;
    padding: 1.2rem;
   
}

.preview-card-img{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.preview-card-img img{
    border-radius: .625rem;
}

.preview-card-text{
    margin-top: 1.2rem;
    margin-left: .313rem;
}

.yellow-bg{
    background-color: hsl(47, 88%, 63%);
    padding: .25rem .75rem;
    border-radius: .25rem;
    width: 5.625rem;
}

.published-date{
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.blog-post-title{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.blog-post-title:hover{
    color: hsl(47, 88%, 63%);
}

.preview-text{
    color: hsl(0, 0%, 50%);
    font-size: 1rem;
    font-weight: 500;
    list-style: 1.6;
    margin-bottom:1.5rem;
}

.blog-post-avatar-container{
    display: flex;
    align-items: center;
   
}

.blog-post-avatar-container h4{
    margin-left: 1rem;
    font-size: 0.875rem;
    font-weight:800;
}

/* 
    Media Queries
*/

@media screen and (max-width:31.25rem) {
    
    #preview-card-container{
        width: 90%;
        margin: 2rem auto;
    }

    .preview-card-img img{
        width: 100%;
    }

}
